<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
	<system.serviceModel>
		<services>
			<service name="BankServiceLibrary.BankService">
				<host>
					<!-- Kom ihåg att köra VS som administratör, så VS kan öppna porten -->
					<baseAddresses>
						<!-- Vi kan hitta på en lämplig URL här -->
						<add baseAddress="http://localhost:8733/BankServiceHost/" />
					</baseAddresses>
				</host>
				
				<endpoint
					address=""
					binding="basicHttpBinding"
					contract="BankServiceLibrary.IBankService">
					<identity>
						<dns value="localhost"/>
					</identity>
				</endpoint>
				
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
		</services>
		
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
					<!-- Det är bra att kunna se Exceptions när vi utvecklar, ändra till False när appen ska "go live" -->
					<serviceDebug includeExceptionDetailInFaults="True" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>